body{
    text-align: center;
    background-color: #155e75;
    color: white;

}

main{
    display: flex;
     flex-direction: column;
}

label{
    font-size: large;
}
input {
    font-size: large;
    display: block;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem auto;
    border: 2px solid rgb(234, 234, 238);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 325px;
}

* {
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
}

button{
    padding: 1rem;
    margin: auto;
    /* margin-left: 34%; */
    display: flex;
    justify-content: center; 
    width: 10rem;
    border-radius: 10px;
    background-color: #e11d48;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

#output-box{
    padding: 4rem;
    font-size: x-large;
}
